<main>

    <button mat-mini-fab color="primary" [routerLink]="['/']">
        <mat-icon>home</mat-icon>
    </button>

    <div id="info">
        <h2>Registration Form</h2>
        <p>With Reactive Forms</p>
        <p>{{ registrationFormWithFormBuilder.value | json }}</p>
        <p>Valid: {{ registrationFormWithFormBuilder.valid }}</p>
        <p>Dirty: {{ registrationFormWithFormBuilder.dirty }}</p>
    </div>

    <!-- ! The formGroup model as described in the code -->
    <!-- ! Angle brackets are mandatory! -->
    <!-- ! Use [formGroup]="registrationFormWithFormBuilder" to use the formBuilder -->
    <!-- ! instead of the FormGroup and FormControl -->
    <form class="ui form" [formGroup]="registrationFormWithFormBuilder" autocomplete="off">
        <div class="field">
            <mat-form-field>
                <input type="text" matInput placeholder="Username" formControlName="userName" tabindex="1" id="userName">
                <mat-error *ngIf="userName.invalid"></mat-error>
            </mat-form-field>
        </div>
        <div class="field">
            <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="password" tabindex="2" id="password">
                <mat-error *ngIf="password.invalid"></mat-error>
            </mat-form-field>
        </div>
        <div class="field">
            <mat-form-field>
                <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword" tabindex="3" id="confirmPassword">
                <mat-error *ngIf="!!registrationFormWithFormBuilder.errors?.mismatch"></mat-error>
            </mat-form-field>
        </div>
        <!-- The subgroup model, no angle brackets -->
        <div formGroupName="address" class="field">
            <div class="field">
                <mat-form-field>
                    <input type="text" matInput placeholder="City" formControlName="city" tabindex="4" id="city">
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field>
                    <input type="text" matInput placeholder="State" formControlName="state" tabindex="5" id="state">
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field>
                    <input type="text" matInput placeholder="Zip" formControlName="zip" tabindex="6" id="zip">
                </mat-form-field>
            </div>
        </div>
        <div class="field buttons">
            <button mat-flat-button color="primary" (click)="open()">Register</button>
            <button mat-flat-button color="accent" (click)="loadAPI()">Load data</button>
            <!-- <button class="ui facebook button" [disabled]="!registrationFormWithFormBuilder.valid" type="submit">Register</button> -->
            <button mat-flat-button color="basic" (click)="reset()">Reset</button>
            <button mat-flat-button color="accent" (click)="openQuestionModal()">Open question modal</button>
            <button mat-flat-button color="accent" (click)="openErrorModal()">Open error modal</button>
            <button mat-flat-button color="accent" (click)="openIndexModal()">Open index modal</button>
        </div>
    </form>
</main>

<!-- <div class="field" [class.error]="confirmPassword.invalid && confirmPassword.touched">
    <label>Confirm password</label>
    <input type="text" formControlName="confirmPassword" tabindex="3">
    <div *ngIf="confirmPassword.invalid && confirmPassword.touched">
        <span *ngIf="!!confirmPassword.errors?.required" class="ui red text">Passwords do not match!</span>
    </div>
    <span *ngIf="!!registrationFormWithFormBuilder.errors?.mismatch" class="ui text red">Password and Confirm password must be the same!</span>
</div> -->