<main>
    <button class="circular vk ui mini icon button" [routerLink]="['/']">
        <i class="icon home"></i>
    </button>
    <h2>Registration Form</h2>
    <p class="text-info">With Reactive Forms</p>

    <!-- ! Display the model -->
    <p class="text-primary">{{ registrationFormWithFormBuilder.value | json }}</p>
    <p>Valid form: {{ registrationFormWithFormBuilder.valid }}</p>
    <p>Form dirty: {{ registrationFormWithFormBuilder.dirty }}</p>

    <!-- ! The formGroup model as described in the code -->
    <!-- ! Angle brackets are mandatory! -->
    <!-- ! Use [formGroup]="registrationFormWithFormBuilder" to use the formBuilder -->
    <!-- ! instead of the FormGroup and FormControl -->
    <form class="ui form" [formGroup]="registrationFormWithFormBuilder" autocomplete="off">
        <!-- ! [class.error] is a bootstrap class and provides visual feedback with a red border -->
        <!-- ! The exclamation marks return true -->
        <div class="field" [class.error]="userName.invalid && userName.touched">
            <label>First name</label>
            <input type="text" formControlName="userName" tabindex="1" id="userName">
            <div *ngIf="userName.invalid && userName.touched">
                <!-- <span *ngIf="!!userName.errors?.required" class="ui red text">Username must not be black!</span> -->
                <!-- <span *ngIf="!!userName.errors?.minlength" class="ui red text">Username must be at least three characters!</span> -->
                <!-- ! "forbiddenName" will be returned from the validation -->
                <!-- <span *ngIf="!!userName.errors?.forbiddenName" class="ui red text">This username is not allowed!</span> -->
            </div>
        </div>
        <div class="field" [class.error]="password.invalid && password.touched">
            <label>Password</label>
            <input type="text" formControlName="password" tabindex="2">
            <div *ngIf="password.invalid && password.touched">
                <span *ngIf="!!password.errors?.required" class="ui red text">Password must not be black!</span>
            </div>
        </div>
        <div class="field" [class.error]="confirmPassword.invalid && confirmPassword.touched">
            <label>Confirm password</label>
            <input type="text" formControlName="confirmPassword" tabindex="3">
            <div *ngIf="confirmPassword.invalid && confirmPassword.touched">
                <span *ngIf="!!confirmPassword.errors?.required" class="ui red text">Passwords do not match!</span>
            </div>
            <span *ngIf="!!registrationFormWithFormBuilder.errors?.mismatch" class="ui text red">Password and Confirm password must be the same!</span>
        </div>
        <!-- The subgroup model, no angle brackets -->
        <div formGroupName="address" class="field">
            <div class="field">
                <label>City</label>
                <!-- The formGroup sub-property -->
                <input type="text" formControlName="city" tabindex="4">
            </div>
            <div class="field">
                <label>State</label>
                <!-- The formGroup sub-property -->
                <input type="text" formControlName="state" tabindex="5">
            </div>
            <div class="field">
                <label>Zip</label>
                <!-- The formGroup sub-property -->
                <input type="text" formControlName="zip" tabindex="6">
            </div>
        </div>
        <div class="field">
            <!-- <button class="ui facebook button" [disabled]="!registrationFormWithFormBuilder.valid" type="submit">Register</button> -->
            <button class="ui facebook button" type="button" (click)="open()">Register</button>
            <button class="ui twitter button" type="button" (click)="loadAPI()">Load Data</button>
            <button class="ui twitter button" type="button" (click)="reset()">Reset</button>
            <button class="ui orange button" type=" button" (click)="openQuestionModal()">Open question modal</button>
            <button class="ui orange button" type=" button" (click)="openErrorModal()">Open error modal</button>
        </div>
    </form>
</main>