<div id="child">

    <div id="header">
        <span>app-child</span>
        <h2>Child</h2>
        <span>This element has methods that will be called from the app-root</span>
        <br> <br>
        <span>This fruity list came from the app-root</span>
        <br>
        <span>Click on the items to test the parent-child interaction</span>
        <br>
    </div>

    <div id="content">
        <app-table [records]="fruits" [headers]="headers" [widths]="widths" [visibility]="visibility" [justify]="justify" [fields]="fields" (selectEvent)="onSelectFruit($event)"></app-table>
    </div>

    <!-- <ul>
        <li *ngFor="let fruit of fruits, index as index" (click)="onSelectFruit(index)">{{ fruit.description }}</li>
    </ul> -->

    <div id="footer">
        <br>
        <br>
        <mat-form-field>
            <input type="text" matInput placeholder="Fruit" tabindex="1" [input]="box" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Something" tabindex="2" [input]="box" id="something" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Something" tabindex="3" [input]="box" autocomplete="off">
        </mat-form-field>
        <br><br>
        <button mat-flat-button color="primary" (click)="onSortArrayByName()">Sort by name</button>
        <button mat-flat-button color="primary" (click)="onSortArrayByPrice()">Sort by price</button>
        <button mat-flat-button color="primary" (click)="onSortArrayByTime()">Sort by time</button>
    </div>

</div>