<div id="child">

    <span>app-child</span>

    <h2>Child</h2>

    <span>This element has methods that will be called from the app-root</span>
    <br> <br>
    <span>This fruity list came from the app-root</span>
    <br>
    <span>Click on the items to test the parent-child interaction</span>
    <br>

    <ul>
        <li *ngFor="let fruit of fruits, index as index" (click)="onSelectFruit(index)">{{ fruit.description }}</li>
    </ul>

    <mat-form-field>
        <input type="text" matInput placeholder="Fruit" tabindex="1" id="fruit" (change)="lookupIndex(fruits, 'Fruits', ['id','description','amount'], ['Id','Description','Amount'], ['0px','440px','100px'], ['none','',''], ['center','left','right'], $event)">
    </mat-form-field>

    <br><br>

    <button mat-flat-button color="primary" (click)="onOpenDialog(fruits)">Display a list of fruits</button>

</div>