#container {
    display: grid;
    grid-template-areas:
        "header"
        "section"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    margin: 2rem;
}

#container::-webkit-scrollbar {
    width: 0.4rem;
}

#container::-webkit-scrollbar-track {
    background-color: white;
}

#container::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 0;
    min-height: 6.25rem;
}

#header {
    grid-area: header;
}

.scrollable {
    grid-area: section;
    outline: 0;
    position: relative;
    text-align: left;
    width: 100%;
}

table {
    grid-area: section;
    outline: 0;
}

th {
    background: white;
    position: sticky;
    text-align: center;
    top: 0;
}

th, td {
    padding: 0.25rem;
}

tr:hover {
    cursor: pointer;
}

#footer {
    grid-area: footer;
    justify-self: end;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.selected {
    background-color: indianred;
}