#wrapper-b {
    background-color: #939393;
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.mat-dialog-container {
    /* max-height: none !important; */
}

#header-b {
    background-color: #57617B;
    color: #FFE85C;
    grid-area: header;
    margin: 0;
    padding: 2rem;
}

#container-b {
    background-color: #939393;
    grid-area: content;
    margin: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

#footer-b {
    background-color: #939393;
    grid-area: footer;
    justify-self: end;
    padding: 0 2rem 2rem 2rem;
}

#container-b::-webkit-scrollbar {
    width: 0.5rem;
}

#container-b::-webkit-scrollbar-track {
    background-color: #939393;
}

#container-b::-webkit-scrollbar-thumb {
    background-color: indianred;
    border-radius: 0;
    min-height: 6.25rem;
}

#table-b {
    border-collapse: collapse;
    margin-right: 0.5rem;
    position: relative;
    text-align: left;
    width: -webkit-fill-available;
}

th.header {
    background-color: #637092;
    color: #ffffff;
    font-family: Lato;
    padding: 1rem;
    position: sticky;
    text-align: center;
    top: 0;
}

.selected {
    background-color: indianred !important;
}

tr:hover {
    background-color: lightcoral !important;
    cursor: pointer;
}

tbody tr {
    border-bottom: 1px dotted gray;
    background-color: #57617B;
}

td {
    padding: 1rem;
    color: #ffffff;
    border-right: 1px dotted gray;
}