<div id="wrapper-b">

    <div id="header-b">
        <h2>{{ title }}</h2>
    </div>

    <div id="container-b">
        <table id="table-b">
            <thead>
                <tr>
                    <th class="header" *ngFor="let header of headers, index as i" [style.width]="widths[i]" [style.display]="visibility[i]">{{ header }}</th>
                </tr>
            </thead>
            <tbody id='body'>
                <tr *ngFor="let record of records, index as index" (click)="gotoNewPosition(index+1)" [id]="index+1">
                    <td *ngFor="let field of fields, index as i" [style.text-align]="justify[i]" [style.display]="visibility[i]">{{ record[field] }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="footer-b">
        <!-- {{ info | json }} -->
        <button id="close" mat-flat-button class="primary" [mat-dialog-close]="records[currentTableRow-1]">Select</button>
    </div>

</div>