<h1>Parent to child</h1>

<!-- [heading] is the @Input element name in the child class -->
<!-- headerText is a string variable in this (parent) class -->
<app-header [heading]="headerText"></app-header>

<div class="button-frame">
    <label>Click & check the console</label>
    <button class="ui primary button" (click)="timer.startTimer()">Call app-child method</button>
    <button class="ui primary button" (click)="startTimer()">Call app-child method with @ViewChild</button>
</div>

<button class="ui primary button" (click)="loadData()">Load data from service</button>

<!-- The #timer template variable in NOT NEEDED with @ViewChild  -->

<!-- Parent >> Child -->
<!-- [fruits] is the @Input property in the child -->
<!-- fruits is the 'local' property -->

<!-- Child >> Parent -->
<!-- (selectEvent) is the @Output() property in the child class -->
<!-- select($event) is the method in this (parent) class -->
<!-- $event is the input from the child (the selected fruit!) -->
<child #timer [fruits]="fruits" [transfers]="transfers" (selectEvent)="select($event)"></child>

<span *ngIf="selectedFruit">Your selected fruit, sir: {{ selectedFruit.description }} </span>
<br>

<!-- Execute code every time the input changes -->
<label>Type & check the console</label>
<input type="text" [ngModel]="fullName" (ngModelChange)="checkFullNameChanges($event)">

<!-- (saveEvent) is the @Output property in the child class -->
<!-- save() is the method in the this (parent) class -->
<app-footer (saveEvent)="onSave()" (deleteEvent)="onDelete()"></app-footer>