<h1>{{ pageTitle }}</h1>

<div>
    <img [src]="imgUrl" alt="Image goes here">
</div>

<div>
    <button (click)="incrementCount()">Click to count</button>
    <p>You clicked {{ count }} times</p>
</div>

<div>
    <div>
        <label>What is your name</label>
        <!-- Two way binding -->
        <input type="text" [(ngModel)]="name">
        <p>Welcome, {{ name }}</p>
    </div>

    <div>
        <!-- Two way binding, split -->
        <label>Username</label>
        <input type="text" [ngModel]="userName" (ngModelChange)="userName=$event">
        <p>Welcome, {{ userName }}</p>
    </div>

    <div>
        <!-- Two way binding, execute the method checkForPasswordChanges() on every key press -->
        <!-- The $event contains the given password which is checked inside the method -->
        <label>Password</label>
        <input type="text" [ngModel]="password" (ngModelChange)="checkForPasswordChanges($event)">
    </div>

    <div>
        <!-- 'customerName' is a get-and-set-method -->
        <!-- which sets and returns the private '_customerName' property -->
        <label>Customer name</label>
        <input type="text" [(ngModel)]="customerName">
        <p>Welcome, {{ customerName }}</p>
    </div>

    <div>
        <!-- Auto focus -->
        <!-- #nameRef is a ViewChild decorator -->
        <label>Focus</label>
        <input #nameRef type="text" [(ngModel)]="focusedField">
    </div>

</div>