ul {
    padding: 0;
}

li {
    font-family: Lato;
    outline: 0;
}

li:hover, a:hover {
    color: darkblue;
    cursor: pointer;
    font-weight: bold;
}

#edit-post {
    background-color: wheat;
    padding: 1rem;
}