<main>
    <nav>
        <h1>Child routes</h1>
        <h3 [routerLink]="['/settings/profile']" routerLinkActive="active">Posts</h3>
        <h3 [routerLink]="['/settings/utils']" routerLinkActive="active">Utilities</h3>
        <br>
        <br>
        <mat-form-field>
            <input matInput placeholder="User id" [(ngModel)]="userId">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="loadPosts(userId)">Load this user's posts</button>
        <br>
        <br>
        <button mat-flat-button color="accent" (click)="loadPosts(1)">Load posts of user 1</button>
        <br>
        <br>
        <button mat-flat-button color="accent" (click)="loadPosts(2)">Load posts of user 2</button>
    </nav>
    <div id="content">
        <div *ngIf="showLoadingIndication" class="spinner"></div>
        <router-outlet></router-outlet>
    </div>
</main>