main {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 2rem !important;
}

section {
    margin: 2rem;
}

h1 {
    padding: 0.5rem 0;
}

h3 {
    cursor: pointer;
    outline: 0;
    padding: 0.5rem;
}

button {
    margin-left: 1rem !important;
}

h3:hover {
    color: chocolate;
}

h3.active {
    color: chocolate;
}