#snackbar {
    background-color: #686adb;
    border-radius: 5px;
    bottom: 30px;
    color: #ffffff;
    font-size: 17px;
    left: 50%;
    margin-left: -125px;
    min-width: 250px;
    padding: 5px;
    position: fixed;
    text-align: center;
    visibility: hidden;
    z-index: 1;
}

#snackbar.show {
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    visibility: visible;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}