#content {
    display: flex;
    flex-direction: row;
    background-color: lightsteelblue;
}

#summaries {
    display: flex;
    background-color: lightslategray;
}

#listAndForm {
    display: flex;
    flex-direction: row;
    background-color: slategrey;
}