ul {
    padding: 0;
}

li {
    font-family: Lato;
    list-style: none;
    outline: 0;
}

#items {
    padding-bottom: 1rem;
}

li:hover, a:hover {
    color: darkblue;
    cursor: pointer;
    font-weight: bold;
}

#edit-post {
    background-color: wheat;
    padding: 1rem;
}

h2 {
    margin-bottom: 1rem;
}