<div id="content">

    <h2 *ngIf=posts>Posts of user {{ userId }} </h2>

    {{ errorMessage}}

    <div id="items">
        <li *ngFor="let post of posts" (click)=getPost(post.id)>{{ post.userId }} - {{ post.id }} - {{ post.title }}</li>
    </div>

    <mat-form-field>
        <input matInput placeholder="Fruit" tabindex="1" id="fruit" #fruit (keyup.enter)="lookupIndex(posts, 'Posts', ['id','title','views'], ['Id','Title','Views'], ['1px','440px','1px'], ['','',''], ['center','left','right'], fruit.value)">
        <!-- <input type="text" matInput placeholder="Fruit" tabindex="1" id="fruit" (change)="lookupIndex(posts, 'Posts', ['id','title','views'], ['Id','Title','Views'], ['1px','440px','1px'], ['','',''], ['center','left','right'], $event)"> -->
    </mat-form-field>

</div>

<div id="form">
    <router-outlet></router-outlet>
</div>