:host {
    display: grid;
}

* {
    box-sizing: border-box !important;
}

#sortable {
    height: 400px;
    margin-right: 0.5rem;
    overflow-y: scroll;
    position: relative;
    text-align: left;
}

tbody tr {
    background-color: #57617B;
}

tbody tr:nth-child(even) {
    background-color: rgba(87, 97, 123, 0.911);
}

tr.selected {
    background-color: indianred !important;
}

tr:hover {
    background-color: lightcoral !important;
    cursor: pointer;
}

th {
    background-color: #637092;
    color: #ffffff;
    font-family: Lato;
    font-size: 1.8rem;
    font-weight: normal;
    padding: 1rem;
    position: sticky;
    text-align: center;
    top: 0;
}

td {
    border-right: 1px dotted gray;
    color: #ffffff;
    overflow: hidden;
    padding: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0;
}

#table-input {
    display: block;
    /* position: absolute; */
}