<div>
  <button mat-button>mat-button</button><br><br>
  <button mat-button color='primary'>mat-button</button><br><br>
  <button mat-raised-button color='primary'>mat-raised-button with color</button><br><br>
  <button mat-raised-button color='primary'>Save</button><br><br>
  <button mat-flat-button>mat-flat-button</button><br><br>
  <button mat-stroked-button>mat-stroked-button</button><br><br>
  <button mat-stroked-button color='primary'>mat-stroked-button with color</button><br><br>
  <button mat-stroked-button color='accent'>mat-stroked-button with color</button><br><br>
</div>

<div>
  <button mat-icon-button color='warn'>
    <mat-icon>add</mat-icon>mat-icon-button
  </button>
</div>
<br>
<br>

<div>
  <button mat-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>
<br>
<br>

<div>
  <a mat-fab routerLink=".">
    <mat-icon>check</mat-icon>
  </a>
</div>
<br>
<br>
