<h1>Parent to child</h1>

<!-- ! Parts 1, 2 and three -->

<!-- ! Bind the variable on the child component (@Input) -->
<!-- ! to the variable on the parent component -->
<!-- ! loggedIn = variable on the child component -->
<!-- ! userLoggedIn = variable on the parent component -->
<app-child [loggedIn]="userLoggedIn"></app-child>
<button class="ui primary button" (click)="toggleLoginStatus()" [disabled]="isThisDisabled()">Login</button>
<button class="ui primary button" (click)="toggleLoginStatus()" [disabled]="!isThisDisabled()">Logout</button>

<!-- End of parts 1, 2 and 3 -->

<!-- Part 4 -->

<!-- Access the child component methods and properties -->
<!-- userLoggedIn = variable on the parent component -->
<!-- loggedIn = variable on the child component -->
<!-- <app-child #child [loggedIn]="userLoggedIn"></app-child> -->
<!-- Access the child component method -->
<!-- <button class="btn btn-warning" (click)="child.greetMe()">Greet</button> -->
<!-- Access the child component property -->
<!-- {{ child.name }} -->

<!-- End of part 4 -->