<div id="outside">

    <main-nav></main-nav>

    <div class="first">
        <p>First goes here</p>
    </div>

    <section class='top-container'>

        <div class='top-box'>
            <h4>Membership</h4>
            <p class=' price'>$199/mo </p>
            <a href='#' class='btn'>Buy now</a>
        </div>
        <div class='top-box'>
            <h4>Pro Membership</h4>
            <p class=' price'>$299/mo </p>
            <a href='#' class='btn'>Buy now</a>
        </div>
        <div class='top-box'>
            <h4>Membership</h4>
            <p class=' price'>$199/mo </p>
            <a href='#' class='btn'>Buy now</a>
        </div>

    </section>

    <div class="second">
        <p>Second goes here</p>
    </div>

    <footer></footer>

</div>