<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="css.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css-grid.component.css">

    <title>CSS Grid</title>

</head>

<body>

    <div id="wrapper">
        <div id="sidebar"></div>
        <div id="main">
            <div id="header">Customer</div>
            <div id="content"></div>
            <div id="footer">
                <div id="buttons">
                    <button class="danger">Delete</button>
                    <button class="primary">Save</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>