* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato;
}

#wrapper {
    display: grid;
    grid-template-areas:
        "sidebar main";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

#sidebar {
    grid-area: sidebar;
    padding: 1rem;
    width: 20rem;
    background: #D9A885;
}

#main {
    display: grid;
    grid-area: main;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    padding: 1rem;
    height: 100%;
    background: #C1D4D9;
}

#sidebar {
    background: #394D59;
    width: 200px;
}

#header {
    grid-area: header;
    padding: 1rem;
}

#content {
    grid-area: content;
    padding: 1rem;
}

#footer {
    padding: 1rem;
    grid-area: footer;
    display: grid;
    justify-items: end;
}

button {
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 4px;
}

.primary {
    background: #57617B;
    color: #ffffff;
}

.danger {
    background: #D67474;
    color: #ffffff;
}

#header {
    font-size: 2rem;
    color: #424242;
}