body {
    margin: 2rem;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

li:hover, .listItem:hover {
    cursor: pointer;
}

.activeItem {
    color: green;
    font-weight: bold;
}