<h2>Arrays</h2>

<div id="container">

	<div id="sectionOne">
		<p>Base ({{ base.length }})</p>
		<ul>
			<li *ngFor='let item of base'>{{ item.description }}</li>
		</ul>
		<p>Filtered ({{ baseFiltered.length }})</p>
		<ul>
			<li *ngFor='let item of baseFiltered index as i'>{{ i }} - {{ item.description }}</li>
		</ul>
		<p>Base ({{ base.length }})</p>
		<ul>
			<li *ngFor='let item of base'>{{ item.description }}</li>
		</ul>
	</div>

	<div id="sectionTwo">

		<h3>Fruits</h3>
		<br>
		<div *ngFor='let fruit of fruits' #fruitsList [id]="fruit.description" class="listItem fruit" (click)="onToggleItem(fruit, this.localStorageFruits)">
			<div>{{ fruit.description }}</div>
		</div>
		<br>
		<ul>
			<li *ngFor="let fruit of localStorageFruits">{{ fruit }}</li>
		</ul>
		<br>

		<h3>Destinations</h3>
		<div *ngFor='let destination of destinations' #destinationsList [id]="destination.description" class="listItem destination" (click)="onToggleItem(destination, this.localStorageDestinations)">
			<div>{{ destination.description }}</div>
		</div>
		<br>
		<ul>
			<li *ngFor="let destination of localStorageDestinations">{{ destination }}</li>
		</ul>

		<br>

	</div>

</div>