<div>
  <div class="row">
    <div class="col-xs-2">
      <img [src]="employee.photoPath">
    </div>
    <div class="col-xs-5">
      <div class="row">
        <div class="col-xs-6"> Gender </div>
        <div class="col-xs-6"> {{ employee.gender}} </div>
      </div>
      <div class="row">
        <div class="col-xs-6"> Date of birth </div>
        <div class="col-xs-6"> {{ employee.dateOfBirth | date }} </div>
      </div>
      <div class="row">
        <div class="col-xs-6"> Contact preference </div>
        <div class="col-xs-6"> {{ employee.contactPreference }} </div>
      </div>
      <div class="row">
        <div class="col-xs-6"> Phone </div>
        <div class="col-xs-6"> {{ employee.phone }} </div>
      </div>
      <div class="row">
        <div class="col-xs-6"> Email </div>
        <div class="col-xs-6"> {{ employee.email }} </div>
      </div>
      <div class="row">
        <div class="col-xs-6"> Department </div>
        <div class="col-xs-6"> {{ employee.department }} </div>
      </div>
    </div>
  </div>
</div>