<div class="container">
    <!-- Menu -->
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a [routerLink]=" ['/employees/list']" routerLinkActive="active">List</a></li>
            <li><a [routerLink]="['/employees/new']" routerLinkActive="active">Create</a></li>
        </ul>
    </nav>
    <!-- List -->
    <div class="panel panel-primary" *ngFor="let employee of employees">
        <div class="panel-heading">
            <h3 class="panel-title">{{ employee.name }}</h3>
        </div>
        <div class="panel-body">
            <app-employee-item [employee]="employee"></app-employee-item>
        </div>
    </div>
</div>