<div class="container">
    <!-- Menu -->
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a [routerLink]=" ['/employees/list']" routerLinkActive="active">List</a></li>
            <li><a [routerLink]="['/employees/new']" routerLinkActive="active">Create</a></li>
        </ul>
    </nav>

    <!-- Display employee name -->
    <h3>{{ dataFromChild }}</h3>

    <!-- List -->
    <div class="panel panel-primary" *ngFor="let employee of employees; let i = index">
        <div class="panel-heading">
            <h3 class="panel-title">{{ employee.name }}</h3>
        </div>
        <div class="panel-body">
            <app-employee-item [employee]="employee" (notify)="handleNotify($event)"></app-employee-item>
        </div>
    </div>
</div>

<!-- 
    Parent
        Class:
        -------------
        dataFromChild: string = ''

        handleNotify(eventData: string) {
            this.dataFromChild = eventData
        }

        Template:  (put it where the child item renders)
        -------------
        (notify)="handleNotify($event)

    Child
        Class:
        -------------
        @Output() notify: EventEmitter<string> = new EventEmitter<string>()
        
        displayName() {
            this.notify.emit(this.employee.name)
        }
        
        Template:
        -------------
        <div (click)="displayName()"</div>
-->