<h2 mat-dialog-title>Elements</h2>

<h4>Select from the list</h4>

<section class="tables">
    <div>
        <table mat-table [dataSource]="dataSource" id="dataTable">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef id="no" class="center-align"> Id </th>
                <td mat-cell *matCellDef="let element" class="right-align"> {{ element.id }} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef id="name"> Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;" [matRowKeyboardSelection]="selection" [rowModel]="row" [selectOnFocus]="true" [toggleOnEnter]="false" [preventNewSelectionOnTab]="true" [ngClass]="{selected: selection.isSelected(row)}" (enter)="doubleClick()" (dblclick)="doubleClick()" (click)="selectElement(row)"></tr>
        </table>
    </div>
</section>

<!-- <ul>
    <li *ngFor="let element of elements" (click)="selectElement(element)">{{ element.id }} {{ element.name }}</li>
</ul> -->

<mat-form-field>
    <input matInput [(ngModel)]="myElement.name">
</mat-form-field>

<mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close="false">Cancel</button>
    <button mat-button mat-dialog-close [mat-dialog-close]="myElement" cdkFocusInitial>OK</button>
</mat-dialog-actions>