h4 {
    margin-bottom: 20px;
}

li {
    cursor: pointer;
    padding: 5px;
}

app-material-dialog {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
    width: 100% !important;
}

li:hover {
    background-color: darkolivegreen;
    color: gainsboro;
}

mat-dialog-actions {
    justify-content: flex-end;
    margin-bottom: 0;
    padding-top: 30px;
}

table.mat-table {
    width: 100%;
}

tr.mat-row {
    cursor: pointer;
}

tr.mat-row.selected {
    outline: 0;
}

td.right {
    text-align: right !important;
}

ul {
    margin: 0;
    padding-left: 20px;
}

th {
    font-size: 1.6rem;
}