:host {
    display: flex;
}

#main {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
}

#sidebar {
    height: 100%;
    z-index: 500;
    background-color: aliceblue;
    width: 200px;
}

#content {
    display: flex;
    height: 100%;
    transition: 0.5s ease-out;
}