<main>
    <nav>
        <ul>
            <a [routerLink]="['/posts']" routerLinkActive="active">Posts</a>
            <a [routerLink]="['/form-template']" routerLinkActive="active">Template driven forms</a>
            <a [routerLink]="['/form-reactive']" routerLinkActive="active">Reactive forms</a>
            <a [routerLink]="['/parent-to-child']" routerLinkActive="active">Call child functions</a>
            <a [routerLink]="['/material']" routerLinkActive="active">Material objects</a>
            <a [routerLink]="['/recipes']" routerLinkActive="active">Recipes</a>
            <a [routerLink]="['/parentFromChild']" routerLinkActive="active">Data from child to the parent</a>
            <a [routerLink]="['/max-data-binding']" routerLinkActive="active">Data binding with Max</a>
            <a [routerLink]="['/employees/list']" routerLinkActive="active">Employees</a>
            <a [routerLink]="['/arrays']" routerLinkActive="active">Arrays</a>
        </ul>
    </nav>

    <section>
        <div *ngIf="showLoadingIndication" class="spinner"></div>
        <router-outlet></router-outlet>
    </section>
</main>