<main>
    <nav class="navbar navbar-default">
        <ul class="nav nav-nav">
            <li><a [routerLink]="['/posts']" routerLinkActive="active">Posts</a></li>
            <li><a [routerLink]="['/form-template']" routerLinkActive="active">Template driven forms</a></li>
            <li><a [routerLink]="['/form-reactive']" routerLinkActive="active">Reactive forms</a></li>
            <li><a [routerLink]="['/parent-to-child']" routerLinkActive="active">Call child functions</a></li>
            <li><a [routerLink]="['/material']" routerLinkActive="active">Material objects</a></li>
            <li><a [routerLink]="['/recipes']" routerLinkActive="active">Recipes</a></li>
            <li><a [routerLink]="['/parentFromChild']" routerLinkActive="active">Data from child to the parent</a></li>
            <li><a [routerLink]="['/max-data-binding']" routerLinkActive="active">Data binding with Max</a></li>
            <li><a [routerLink]="['/employees']" routerLinkActive="active">Employees</a></li>
            <li><a [routerLink]="['/arrays']" routerLinkActive="active">Arrays</a></li>
            <li><a [routerLink]="['/tables/userId/1']" routerLinkActive="active">Tables</a></li>
        </ul>
    </nav>

    <section>
        <div *ngIf="showLoadingIndication" class="spinner"></div>
        <router-outlet></router-outlet>
    </section>
</main>