<main>
    <nav class="navbar navbar-default">
        <ul class="nav nav-nav">
            <li><a [routerLink]="['/posts']" routerLinkActive="active">Posts</a></li>
            <li><a [routerLink]="['/form-template']" routerLinkActive="active">Template driven forms</a></li>
            <li><a [routerLink]="['/form-reactive']" routerLinkActive="active">Reactive forms</a></li>
            <li><a [routerLink]="['/component-interactions']" routerLinkActive="active">Component interactions</a></li>
            <li><a [routerLink]="['/material']" routerLinkActive="active">Material objects</a></li>
            <li><a [routerLink]="['/employees']" routerLinkActive="active">Employees</a></li>
            <li><a [routerLink]="['/arrays']" routerLinkActive="active">Arrays</a></li>
            <li><a [routerLink]="['/tables/userId/1']" routerLinkActive="active">Tables</a></li>
        </ul>
    </nav>

    <section>
        <span>app-root</span>
        <div *ngIf="showLoadingIndication" class="spinner"></div>
        <router-outlet></router-outlet>
    </section>
</main>