main {
    display: flex;
}

section {
    margin: 1rem;
    width: 100%;
}

nav {
    margin: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul>a {
    cursor: pointer;
    outline: 0;
}

a:hover {
    color: black;
    text-decoration-line: none;
}

.active {
    color: blue;
}