body {
    margin: 0;
    padding: 2rem;
}

section {
    height: 100vh !important;
    overflow-y: scroll !important;
}

table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
    outline: 0;
}

th, td {
    padding: 0.25rem;
}

tr.red th {
    background: red;
    color: white;
}

tr.green th {
    background: green;
    color: white;
}

tr.purple th {
    background: purple;
    color: white;
}

th {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

th {
    text-align: center;
    position: sticky;
}

td {
    border: 1px solid gray;
}

#container {
    height: 500px;
    overflow-y: scroll;
}

.selected {
    background-color: indianred;
}

tr:hover {
    cursor: pointer;
}