<div id="container">

    <table id="myTable" tabindex="0">
        <thead>
            <tr>
                <th *ngFor="let header of headers, index as i" [style.width]="widths[i]">{{ header }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts, index as r" (click)="gotoNewPosition(r+1)">
                <td *ngFor="let item of post | keyvalue, index as i" [style.text-align]="justify[i]">{{ item.value }}</td>
            </tr>
        </tbody>
    </table>

</div>

<p>Table height {{ tableHeight }}</p>

<button (click)="removeSelected()">Clear</button>
<button (click)="scroll(45)">Scroll</button>

<!-- 0 = 1 -->
<!-- 45 = 2 -->
<!-- 114 = 3 -->
<!-- 139 = 4 -->