<div id='wrapper'>

  <form [formGroup]='form' autocomplete='off'>

    <h1>Add new</h1>

    <div class="field-wrapper">
      <mat-form-field>
        <input id='profession' matInput placeholder="Profession" [formControl]="profession" tabindex='1' [appInputFormat]="'upperCase'" required>
        <mat-error *ngIf=" profession.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="field-wrapper">
      <mat-form-field>
        <input id='address' matInput placeholder="Address" [formControl]="address" tabindex='2' required>
        <mat-error *ngIf="address.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div class="field-wrapper">
      <mat-form-field>
        <input id='something' matInput placeholder="Something" [formControl]="something" tabindex='3' required>
        <mat-error *ngIf="address.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div class='button-wrapper'>
      <button type='button' mat-button>CANCEL</button>
      <button type='button' mat-raised-button color='primary'>SAVE ALL</button>
    </div>

  </form>

</div>