#wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

form {
    width: 500px;
}

h1 {
    color: #7A818B;
    margin: 0;
    font-family: "Ubuntu Condensed";
    font-size: 35px;
    font-weight: 100;
    padding-bottom: 30px;
}

input {
    font-family: Roboto;
    font-size: 16px;
}

.example-form {
    margin: 2rem;
    min-width: 150px;
    width: 100%;
}

.mat-form-field {
    width: 500px;
}

.field-wrapper {
    margin-bottom: 15px;
}

button {
    width: 90px;
}

button:not(:last-child) {
    margin-right: 20px;
}

.button-wrapper {
    margin-top: 15px;
    text-align: end;
}
