{{ errorMessage }}
<form [formGroup]="form" autocomplete="off">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Edit employee</h1>
        </div>
        <div class="panel-body">
            <mat-form-field>
                <input type="text" matInput placeholder="Name" formControlName="name" tabindex="1" id="name">
                <mat-error *ngIf="name.invalid">This field is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Email" formControlName="email" tabindex="2" id="email">
                <mat-error *ngIf="email.invalid">This field is required</mat-error>
            </mat-form-field>
        </div>
        <div class="panel-footer">
            <h3 class="panel-title">
                <button type="button" class="btn btn-primary" (click)="updateEmployee()">Update</button>
            </h3>
        </div>
    </div>
</form>

{{ form.value | json }}

<!-- 
    Template driven forms
    -------------------------------------------
    1. At form level a template reference variable #employeeForm='ngForm'
    3. All fields must have a name attribute
    2. All fields must be binded to the model [()]
    4. All fields must be declared in the class 
    -------------------------------------------
    (ngModel) = from the template to the class - update the model
    [ngModel] = from the class to the template - update the form with init values or when loading data
-->

<!-- 
    <div class="well">
    <div>Touched {{ name.touched }}</div>
    <div>Untouched {{ name.untouched }}</div>
    <div>Pristine {{ name.pristine}}</div>
    <div>Dirty {{ name.dirty}}</div>
    <div>Valid {{ name.valid}}</div>
    <div>Invalid {{ name.invalid}}</div>
</div> -->