<div id="wrapper-a">

    <div id="header-a">
        <h1>Posts</h1>
    </div>

    <div id="container-a">
        <table id="table-a" tabindex="0">
            <thead>
                <tr>
                    <th *ngFor="let header of headers, index as i" [style.width]="widths[i]">{{ header }}</th>
                </tr>
            </thead>
            <tbody id='body'>
                <tr *ngFor="let post of posts, index as r" (click)="gotoNewPosition(r+1)" [id]="r+1">
                    <td *ngFor="let item of post | keyvalue, index as i" [style.text-align]="justify[i]">{{ item.value }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="footer-a">
        <button id="close" mat-flat-button color="primary">Select</button>
    </div>

</div>