@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
}

.scrollable {
    overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
    width: 5px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: orange;
    min-height: 200px;
    top: 50px;
}

a {
    font-family: Lato;
    text-decoration: none;
}

h1, h2, h3, h4, p, label {
    font-family: Lato;
    margin: 0;
    padding: 0 !important;
}

* {
    --color: #ffffff;
    --light-color: #9B2821;
    --dark-color: #8C051B;
    --content-background-color: #f0f0f8;
    --form-header-color: #7A818B;
    --form-header-size: 2.1875rem;
    --form-header-weight: 100;
    --form-sub-header-color: #7A818B;
    --form-sub-header-size: 1.25rem;
    --form-sub-header-weight: 100;
    --list-background-color: #f0f0f8;
    --scroll-bar-color: #c03437;
    --fab-background-color: #737373;
}

* {
    box-sizing: border-box !important;
}

h1 {
    color: var(--form-header-color);
    padding-bottom: 4px;
}

button:not(:last-child) {
    margin-right: 0.625rem;
}

.hidden {
    display: none !important;
}

.mat-list-item-content {
    color: #7A818B;
}

::placeholder {
    color: lightskyblue;
    font-style: italic;
}

button {
    border: none !important
}

button:active, button:focus {
    outline: none !important;
}

.modal-open .modal {
    display: flex !important;
    align-items: center !important;
}

.modal-content {
    background-color: #f0f0f8;
    padding: 1rem;
    width: 40rem
}

ul {
    list-style: none;
}

button.primary {
    color: #FFFFFF !important;
    background-color: #57617B !important;
}

button.secondary {
    color: #FFFFFF !important;
    background-color: #5A75BC !important;
}

/* Custom */

.mat-dialog-container {
    border-radius: 10px !important;
    padding: 0 !important;
}

.left {
    justify-content: flex-start !important;
}

.right {
    justify-content: flex-end !important;
}

.center {
    justify-content: center !important;
}