@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    margin: 0;
}

.scrollable {
    overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
    width: 5px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: orange;
    min-height: 200px;
    top: 50px;
}

a {
    font-family: Lato;
    text-decoration: none;
}

h1, h2, h3, h4, p, label {
    font-family: Lato;
    margin: 0;
    padding: 0;
}

* {
    --color: #ffffff;
    --light-color: #9B2821;
    --dark-color: #8C051B;
    --content-background-color: #f0f0f8;
    --form-header-color: #7A818B;
    --form-header-size: 2.1875rem;
    --form-header-weight: 100;
    --form-sub-header-color: #7A818B;
    --form-sub-header-size: 1.25rem;
    --form-sub-header-weight: 100;
    --list-background-color: #f0f0f8;
    --scroll-bar-color: #c03437;
    --fab-background-color: #737373;
}

* {
    box-sizing: border-box !important;
}

h1 {
    color: var(--form-header-color);
    padding-bottom: 4px;
}

button:not(:last-child) {
    margin-right: 0.625rem;
}

.hidden {
    display: none !important;
}

.mat-list-item-content {
    color: #7A818B;
}

::placeholder {
    color: lightskyblue;
    font-style: italic;
}

button {
    border: none !important
}

button:active, button:focus {
    outline: none !important;
}

.modal-open .modal {
    display: flex !important;
    align-items: center !important;
}

.modal-content {
    background-color: #f0f0f8;
    padding: 1rem;
    width: 40rem
}

ul {
    list-style: none;
}

button.primary {
    color: #FFFFFF !important;
    background-color: #57617B !important;
}

button.secondary {
    color: #FFFFFF !important;
    background-color: #5A75BC !important;
}

/* Custom */

.mat-dialog-container {
    /* background-color: #424242 !important; */
    border-radius: 5px !important;
    display: flex !important;
    height: 574px !important;
    padding: 25px !important;
    width: 700px !important;
}

.mat-dialog-container>.ng-star-inserted {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
    width: 100% !important;
}

.mat-dialog-title {
    color: #f1f2da !important;
    font-family: 'Lato';
    font-size: 2.3rem !important;
    margin-bottom: 25px !important;
}

.mat-header-row {
    background-color: #637092 !important;
    font-family: 'Lato';
}

.mat-header-cell:first-child, .mat-cell:first-child {
    flex: 0% !important;
    padding: 0 !important;
}

.mat-header-cell:not(:first-child), .mat-cell:not(:first-child) {
    flex: 100%;
}

.mat-header-cell:not(:first-child) {
    color: beige !important;
    font-size: 1.1rem !important;
    justify-content: center !important;
    padding: 0 10px !important;
    border-right: 1px solid #57617b !important;
}

.left {
    justify-content: flex-start !important;
}

.right {
    justify-content: flex-end !important;
}

.center {
    justify-content: center !important;
}

.mat-cell:not(:first-child) {
    color: beige !important;
    font-size: 1.0rem;
    padding: 0 10px !important;
}

.mat-cell:last-child {
    border-right: 0 !important;
}

.mat-row {
    background-color: #57617B !important;
    color: beige;
    cursor: pointer;
    font-family: 'Lato';
}

.mat-row.selected {
    background-color: #7E7E7E !important;
}

.mat-row>.mat-cell:nth-child(2) {
    border-left: 4px solid #57617B !important;
}

.mat-row.selected>.mat-cell:nth-child(2) {
    border-left: 4px solid #FFE85C !important;
}